.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #282c34;
  color: white;
  padding-top: 20px;
}
